.hero {
    position: relative;
    background: url('../images/bg-desa.jpg') no-repeat center center/cover;
    height: 100vh;
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero .content {
    position: relative;
    z-index: 2;
}
